---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="grid h-full grid-cols-6 grid-rows-7 gap-4">
    <article class="bg-dark-light rounded"></article>
    <article class="bg-dark-light rounded"></article>
    <article class="bg-dark-light rounded"></article>
    <article class="bg-dark-light rounded"></article>

    <article class="bg-dark-light col-span-2 row-span-4 rounded"></article>
    <article class="bg-dark-light col-span-2 row-span-2 rounded"></article>
    <article class="bg-dark-light col-span-2 row-span-3 rounded"></article>
    <article class="bg-dark-light col-span-2 row-span-4 rounded"></article>
    <article class="bg-dark-light col-span-4 row-span-3 rounded"></article>
  </div>
</Layout>
