@import 'tailwindcss';
@import '@fontsource-variable/oxanium';

@theme {
  --color-dark: #2e2f3c;
  --color-light: #eeeffc;
  --color-primary: #1391a6;
  --color-secondary: #fe4069;
}

@font-face {
  font-family: 'Anisette';
  src: url('/fonts/anisette-medium.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Anisette';
  src: url('/fonts/anisette-light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Anisette';
  src: url('/fonts/anisette-bold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Anisette';
  src: url('/fonts/anisette-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Oxanium Variable', 'Anisette', sans-serif;
  background-color: #2e2f3c;
  color: #eeeffc;
}

@keyframes bump {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-anim {
  0% {
    left: 8;
  }
  90% {
    left: 100%;
  }
  100% {
    left: 8;
  }
}
